/* Variables.scss */

$max-width: 900px;

/* color */
$color_primary: #c0392b;
$color_secondary: #ffaf00;
$color_three: #0091cf;
$color_four: #01395a;

$color_font-h1: black;
$color_font-h2: black;
$color_font-h3: black;
$color_font-h4: black;
$color_font-default: #333;
$color_font-hyperlink: black;
$color_font-hyperlink-hover: $color_secondary;
$color_font-hyperlink-hover-bg: black;

$color_border: #ddd;

/* offset: margins & paddings */
// $offset-0: 0px;
// $offset-0-5: 5px;
$offset-1: 10px;
$offset-2: 20px;
// $offset-3: 30px;
// $offset-4: 40px;
$offset-g1: 15px;
$offset-g2: 30px;
// $offset-g3: 45px;
// $offset-g4: 60px;
