/* img-box */
/* img hover */
.img-text-behind {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  float: left;
  background-color: #0091cf;
  list-style: none;
  margin-bottom: 30px;
}

.img-text-behind:before {
  content: "";
  display: block;
  padding-top: 65%;
}

.img-text-behind li {
  padding: 0;
  width: 100%;
  list-style: none;
}

.img-text-behind li.li-text {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 15px;
}

.img-text-behind p,
.img-text-behind h2 {
  color: #fff;
  padding: 10px;
}

.img-text-behind p {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.img-text-behind h2 {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.effect img {
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
  margin: -12px 0;
  width: 100%;
  -webkit-transition: bottom 0.3s ease-in-out;
  -moz-transition: bottom 0.3s ease-in-out;
  -o-transition: bottom 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out;
}

/* grid */
/*
https://www.freecodecamp.org/news/how-to-create-an-image-gallery-with-css-grid-e0f0fd666a5c/
*/
.css-grid.portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 10vw);
  grid-gap: 15px;
  margin: 0 auto;
}

.css-grid.portfolio .css-grid__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #eee;
}

@media (min-width: 768px) {
  .css-grid.portfolio .css-grid__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .css-grid.portfolio .css-grid__item--4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .css-grid.portfolio .css-grid__item--5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .css-grid.portfolio .css-grid__item--6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .css-grid.portfolio {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 20vw);
  }
}

@media (max-width: 599px) {
  .css-grid.portfolio {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 30vw);
  }
}
