.toolbar {
  width: 100%;
  &.no-toolbar {
    width: 60px;
  }
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(51, 51, 51, 0.95);
  height: 56px;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 $offset-g1;
}

.toolbar__logo {
  margin-left: $offset-g1;
}

.toolbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

.spacer {
  flex: 1;
}

.toolbar__navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  li {
    padding: 0 0.5rem;

    a {
      color: white;
      text-decoration: none;

      &:hover,
      &:active {
        color: orange;
      }
    }
  }
}

// @media (max-width: 768px) {
//   .toolbar__navigation-items {
//     display: none;
//   }
// }

// @media (min-width: 769px) {
//   .toolbar__toggle-button {
//     display: none;
//   }

//   .toolbar__logo {
//     margin-left: 0;
//   }
// }
