/* App.css */
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

.bg-primary {
  background-color: #c0392b;
}

.bg-secondary {
  background-color: #ffaf00;
}

.bg-third {
  background-color: #0091cf;
}

.bg-fourth {
  background-color: #01395a;
}

.bg-fourth p,
.bg-fourth h2,
.bg-fourth h4,
.bg-fourth ul li,
.bg-fourth ul li {
  color: white;
}

.bg-fourth a {
  color: white;
}

.bg-white {
  background-color: white;
}

.bg-secondary p,
.bg-secondary ul li,
.bg-secondary ul li,
.bg-third p,
.bg-third ul li,
.bg-third ul li {
  color: black;
}

.bg-primary,
.bg-secondary a,
.bg-third a {
  color: white;
}

.bg-third {
  background-color: #0091cf;
}

.text-primary {
  color: #c0392b;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.1em;
  line-height: 1.8em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

p {
  margin: 0 0 30px 0;
}

h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
